<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BounceTape (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BounceTape (AUv3 AppExtension).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BounceTape (AUv3 Standalone).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BounceTape (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BounceTape (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BounceTape (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BounceTape (VST3).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D6530141A88DEADBE51864F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81996D5232060500402C767C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9651E32DEDB27647A001BCAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A2543E61AE8609700523F2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B579E85E7B255BF430567684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC67F80774CEE2689ED34C33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF799CA5F96950CC0AAC23F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
